.login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 942px;
}

.loginText {
    position: absolute;
    width: 80px;
    height: 56px;
    top: 198px;

    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    /* identical to box height */

    color: #212426;
}

.loginBox {
    position: absolute;
    top: 32.2%;
    bottom: 24.11%;
    min-width: 400px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.scanCode {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.code {

    position: absolute;
    width: 180px;
    height: 180px;

    background: #F7F7F7;
    margin-top: 20px;
}

.codeText {
    position: absolute;
    margin-top: 220px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height */

    color: #FF8000;
}

.agreeText {
    position: absolute;
    // left: 762px;
    margin-top: 290px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    color: #6E7780;
}