.progressBox {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    min-width: 200px;
}

.progressText {
    // width: 12%;
    min-width: 60px;
    margin-left: 20px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* identical to box height */

    color: #212426;

}

.progress {
    border-radius: 20px;
    margin-top: 8px;
    padding: 0 20px;
}
